<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042996620318-u2tboe4if14o4t0559hpkekshf9e92me.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042996620318-u2tboe4if14o4t0559hpkekshf9e92me</string>
	<key>API_KEY</key>
	<string>AIzaSyCQVlM8ZeENT8EjdhWTa3hTVLi3yNJHwLI</string>
	<key>GCM_SENDER_ID</key>
	<string>1042996620318</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplicationTwo</string>
	<key>PROJECT_ID</key>
	<string>dartpr-38fe2</string>
	<key>STORAGE_BUCKET</key>
	<string>dartpr-38fe2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042996620318:ios:cbd1682472cbaa56e9520f</string>
</dict>
</plist>